@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?q45z98');
  src:  url('icomoon.eot?q45z98#iefix') format('embedded-opentype'),
    url('icomoon.ttf?q45z98') format('truetype'),
    url('icomoon.woff?q45z98') format('woff'),
    url('icomoon.svg?q45z98#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-man-user:before {
  content: "\e901";
}
.icon-left-quote:before {
  content: "\e90d";
}
.icon-right-quotation-sign:before {
  content: "\e90e";
}
.icon-close-envelope:before {
  content: "\e90a";
}
.icon-printer:before {
  content: "\e90b";
}
.icon-telephone-handle-silhouette:before {
  content: "\e90c";
}
.icon-facebook-letter-logo:before {
  content: "\e903";
}
.icon-instagram-logo:before {
  content: "\e904";
}
.icon-pin:before {
  content: "\e906";
}
.icon-right-arrow:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e908";
}
.icon-chat:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e905";
}
.icon-link:before {
  content: "\e907";
}
.icon-new-file:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90f";
}
