@font-face {
    font-family: 'Hind';
    src: url('Hind-SemiBold.woff2') format('woff2'),
        url('Hind-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('Hind-Regular.woff2') format('woff2'),
        url('Hind-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('Hind-Light.woff2') format('woff2'),
        url('Hind-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('Hind-Medium.woff2') format('woff2'),
        url('Hind-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('Hind-Bold.woff2') format('woff2'),
        url('Hind-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

