@font-face {
	font-family: 'k010';
	src: url('../font/k010.eot');
	src: local('k010'), url('../font/k010.woff') format('woff'), url('../font/k010.ttf') format('truetype');
}
body{
	font-family: 'k010' !important;
}
title{
	font-family: 'k010' !important;
}
.content-padding{
	padding: 15px 0; 
}
img{
	width: 100%;
}
