body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Hind';
    color: #000000;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    background-color: #F8F8F8;
}

* {
    outline: none;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: #000000;
    position: relative;
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    color: #007FFF;
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 30px;
}

h1.heading:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: calc(100% - 10px);
    background-color: #007FFF;
    height: 2px;
    display: inline-block;
}

h2 {
    font-size: 24px;
    line-height: 1.4;
    color: #007FFF;
    position: relative;
}

h2.heading {
    padding-left: 10px;
}

h2.heading:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 2px;
    height: calc(100% - 10px);
    background-color: #007FFF;
}

h3.dark {
    color: #333333;
}

h4 {
    font-size: 40px;
    color: #fff;
}

h5 {
    position: relative;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    padding: 8px 0;
}

header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.strip {
    background-color: #007FFF;
    margin: 0;
}

.navbar-brand {
    max-width: 100px;
}

.navbar-brand img {
    width: 100%;
    max-width: 100%;
}

.navbar {
    padding: 10px 0;
    -webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.27);
    -o-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.27);
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.27);
}

.navbar .menu-outer {
    width: 100%;
}

.navbar .menu-outer ul {
    float: right;
    margin: 0;
}

.navbar .menu-outer ul li {
    display: inline-block;
    margin: 0 15px;
    outline: none;
}

.navbar .menu-outer ul li a {
    padding: 10px;
    font-size: 16px;
    color: #444444;
    font-weight: 600;
    outline: none;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.navbar .menu-outer ul li a:hover,
.navbar .menu-outer ul li a:focus,
.navbar .menu-outer ul li a:active,
.navbar .menu-outer ul li a:hover,
.navbar .menu-outer ul li.current-menu-item a {
    color: #007FFF;
}

.strip ul {
    margin: 0;
    padding: 10px 0;
}

.strip ul li {
    display: inline-block;
    margin-right: 15px;
}

.strip ul li a {
    color: #ffff;
    vertical-align: middle;
}

.strip ul li a i {
    vertical-align: middle;
    margin-right: 10px;
}

.strip .content {
    text-align: right;
    padding: 0;
    padding-right: 25px;
}

.strip .content a.link,
.strip .content p{
    display: inline-block;
    color: #fff;
    margin-bottom: 0;
    padding-top: 10px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    text-decoration: none;
}
.strip .content a.link:hover{
    -webkit-text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.5);
    -ms-text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.5);
    -o-text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.5);
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.5);
}

.strip .content a.sm-btn{
    display: inline-block;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #0060BF;
    text-transform: uppercase;
    margin-left: 10px;
}

/*wrapper css start here*/
.wrapper {
    margin: 0;
    padding: 0;
    padding-top: 120px;
    min-height: 100%;
    margin-bottom: -80px;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: url('../imgs/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    position: relative;
    /*background-attachment: fixed;*/
}
.banner .inner-content{
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    margin: auto;
    text-align: center;
}
.banner .inner-content:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 0;
    background-color: #000;
    opacity: 0.8;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    display: block;
}
.banner .inner-content h1{
    color: #fff;
    font-size: 48px;
}

.padding-sm {
    padding: 50px 0;
}

/*sidebar css*/
.siedbar-left {
    padding: 10px;
    background-color: #fff;
}

.box-shadow {
    background-color: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    -moz-box-shadow: 0px 0px 10px #ccc;
    box-shadow: 0px 0px 10px #ccc;
    margin-bottom: 30px;
    border-radius: 5px;
    /*padding-right: 5px;*/
}

h3,
h4 {
    font-size: 20px;
    font-weight: 500;
    color: #007FFF;
    margin-bottom: 10px;
}

h3 {
    font-size: 22px;
}

.media .round-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #F0F0F0;
    vertical-align: middle;
    position: relative;
    overflow:hidden; 
}
.media .round-icon i{
    position: absolute;
    height: 45px;
    width: 45px;
    font-size: 45px;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    bottom: 0;
    color: #333;
}

.media .media-body {
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 5px;
}

.media .media-body p {
    margin-bottom: 0;
}

.media {
    padding: 10px 0;
    border-bottom: 1px solid #EEEEEE;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ul li:last-child .media {
    border-bottom: 0;
}

.box-overflow {
    max-height: 350px;
    overflow-y: auto;
}

.box-overflow::-webkit-scrollbar {
    width: 4px;
    position: absolute;
    right: -5px;
}

.box-overflow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

.box-overflow::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.box-overflow::-moz-scrollbar {
    width: 4px;
    position: absolute;
    right: -5px;
}

.box-overflow::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

.box-overflow::-moz-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.box-overflow::-ms-scrollbar {
    width: 4px;
    position: absolute;
    right: -5px;
}

.box-overflow::-ms-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

.box-overflow::-ms-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.content {
    padding: 10px;
}

.content p {
    margin: 0;
    margin-bottom: 20px;
}

hr {
    width: 100%;
    border-top: 1px solid #D6D6D6;
    margin-bottom: 15px;
}

b,strong{
    font-size: 18px;
    color: #6E6E6E;
    margin-bottom: 15px;
}

/*footer css*/
.push,
footer {
    height: 80px;
}

footer {
    padding: 15px 0;
    background-color: #007FFF;
}

.footer-menu ul {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li a {
    color: #fff;
    padding: 0 15px;
    text-transform: capitalize;
    font-size: 16px;
}

.copyright p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

/*block css*/
.block-content {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

h5 {
    color: #202020;
    font-size: 18px;
    line-height: 1.3;
    text-transform: capitalize;
    font-weight: 500;
}

.thumb {
    background-image: url('../imgs/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    min-height: 230px;
    width: 100%;
}

.block-content a {
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #007FFF;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    display: inline-block;
}

.block-content a i {
    margin-left: 10px;
}

.padding-none {
    padding: 0;
}

.block-content a:hover,
.pdf-outer a:hover,
.item a:hover{
    -webkit-text-shadow: 0px 1px 3px rgba(0, 0, 255, 0.5);
    -ms-text-shadow: 0px 1px 3px rgba(0, 0, 255, 0.5);
    -o-text-shadow: 0px 1px 3px rgba(0, 0, 255, 0.5);
    text-shadow: 0px 1px 3px rgba(0, 0, 255, 0.5);
}

.adve_img {
    margin-bottom: 15px;
    display: block;
}

.adve_img img {
    width: 100%;
}

/*sidebar-right*/
.date-outer {
    border-radius: 5px;
    background-color: #fff;
    width: 48px;
    height: 48px;
    border: 1px solid #007FFF;
}

.date-outer span {
    text-transform: uppercase;
    color: #fff;
    background-color: #007FFF;
    text-align: center;
    padding: 0;
    width: 100%;
    display: block;
}

.date-outer p {
    color: #007FFF;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1;
    padding-top: 4px;
}

.media.post {
    margin-bottom: 5px;
}

.media.post .media-body {
    padding-top: 0;
}

.media.post .media-body p,
.media.post .media-body span {
    font-size: 12px;
    line-height: 1.3;
}
.media .media-body a{
   color: #000;
   display: block;
}

span {
    color: #4B4B4B;
}

/*form-css*/
.contant-form {
    background-color: #fff;
    padding: 20px 10px;
}

.form-outer {
    padding-top: 15px;
}

.field-outer {
    margin-bottom: 30px;
    position: relative;
}

input.form-control,
textarea.form-control {
    background-color: #f6f6f6;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    color: #666666;
    font-weight: 300;
    min-height: 50px;
    margin-bottom: 20px;
    border-radius: 0;
    margin-bottom: 0;
}

textarea.form-control {
    height: 120px;
    resize: none;
}

input.btn-submit,
.btn-submit {
    display: inline-block;
    color: #fff;
    padding: 10px 21px;
    border-radius: 0;
    border:2px solid #0060BF;
    background-color: #0060BF;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 16px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    cursor: pointer;
    text-decoration: none;
}

input.btn-submit:hover,
input.btn-submit:focus,
input.btn-submit:active,
input.btn-submit:active:focus,
.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active,
.btn-submit:active:focus{
    background-color: transparent;
    border-color: #0060BF;
    color: #0060BF;
    text-decoration: none;
}

/*form-section*/
.form-sec .form-outer {
    background-color: #fff;
    max-width: 550px;
    margin: auto;
    padding: 30px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    -moz-box-shadow: 0px 0px 10px #ccc;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
}

.content-padding {
    padding: 50px 0;
}

label {
    display: block;
    text-align: left;
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
    font-weight: 500;
}

/*default foem css*/
.entry-header {
    position: inherit;
    text-align: center;
    background-color: transparent;
    margin-top: 60px;
}

.entry-header h1 {
    margin-bottom: 20px;
}

.widget-area {
    display: none;
}

span.wpcf7-not-valid-tip {
    width: 250px;
    padding-top: 2px;
    position: absolute;
    bottom: -20px;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    position: absolute;
    left: 0;
}

.pdf-outer {
    margin-bottom: 30px;
    padding: 0;
}

.thumb-outer {
    margin-bottom: 10px;
    padding: 20px 15px;
    max-width: 200px;
    margin: auto;
    text-align: center;
    /*padding: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);*/
}

.pdf-outer img {
    width: 100%;
    max-width: 80px;
}

.pdf-content{
    padding-bottom: 20px;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
}

.content .pdf-outer p {
    margin-bottom: 5px;
    line-height: 1.2;
    font-size: 18px;
    text-align: center;
    /*color: #fff;*/
}

.pdf-outer a {
    font-weight: 500;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    text-decoration: none;
    font-size: 16px;
    display: block;
    text-align: center;
}

/*error page*/
.error-page {
    padding: 0 15px;
}
.error-page .message-box {
    width: 100%;
    -webkit-box-shadow: 2px 2px 39px -16px #000;
    -moz-box-shadow: 2px 2px 39px -16px #000;
    box-shadow: 2px 2px 39px -16px #000;
    margin: 50px 0;
    padding: 50px 0;
    text-align: center;
}
.error-page .message-box h1 {
    font-size: 100px;
    line-height: .9;
    color: #CCC;
    font-weight: 400;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.error-page .message-box h2 {
    text-transform: capitalize;
    font-weight: 400;
    color: #CCC;
    font-size: 32px;
    padding: 0;
    line-height: 1.1;
}
.error-page .message-box p {
    font-size: 18px;
    color: #CCC;
    margin: 0 0 30px;
}

.single-page .left{
    width: 100%;
    background-image: url('../imgs/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 350px;
    position: relative;
}
.single-page h2{
    margin-bottom: 20px;
}
.single-page h2.heading{
    margin-bottom: 30px;
}
.item{
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    cursor: pointer;
    padding: 0;
}
.item .thumb-outer{
    padding: 15px;
    max-width: 100%;
}
.item .thumb{ 
    min-height: 250px;
    margin-bottom: 20px;
    border-radius: 0;
    position: relative;
}
.item .thumb a.link{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    border-top:none;
}
.item a{
    font-size: 20px;
    text-align: center;
    display: block;
    padding:15px;
    border-top:1px solid #eaeaea;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-decoration: none;
}

.bg-white{
    background-color:#fff; 
}
/*.pdf-outer .info{
	padding: 15px;
	background-color: #007FFF;
	}*/

    /*responsive css */
    @media(max-width: 768px) {
        #nav-icon1 {
            width: 30px;
            height: 21px;
            position: relative;
            padding: 10px 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            z-index: 9999;
            margin-top: 0;
            margin-right: 20px;
            background: transparent;
            border: none;
            outline: none;
        }

        #nav-icon1 span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #000;
            border-radius: 3px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            outline: none;
        }

        #nav-icon1 span:nth-child(1) {
            top: 0;
        }

        #nav-icon1 span:nth-child(2) {
            top: 7px;
        }

        #nav-icon1 span:nth-child(3) {
            top: 14px;
        }

        #nav-icon1.open span:nth-child(1) {
            top: 8px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        #nav-icon1.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }

        #nav-icon1.open span:nth-child(3) {
            top: 8px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }

        .brand-outer {
            width: 100%;
        }

        .navbar {
            padding: 10px 15px;
        }

        .navbar .menu-outer ul {
            float: none;
            padding: 15px 0;
        }

        .navbar .menu-outer ul li:first-child {
            border-top: 1px solid #f4f4f4;
        }

        .navbar .menu-outer ul li {
            display: block;
            text-align: left;
        }

        .navbar .menu-outer ul li {
            padding: 15px 0;
            margin: 0;
        }

        .strip .content {
            padding:10px 0; 
        }
        .strip .content a.link{
            padding-top:0; 
        }
    }
    @media(max-width: 580px){
        .pdf-outer{
            max-width: 300px;
            margin: auto;
            margin-bottom: 30px;
        }
    }